extends ../layout
block content 
 a(href='/bicicletas') Volver 
 h1 Nueva Bicicleta 
   form(action='/bicicletas/create' method='post')
    label(for='id') ID
    br
    input#id(type='text' name='id') 
    br
    label(for='color') Color
    br
    input#color(type='text' name='color') 
    br
    label(for='modelo') Modelo
    br
    input#modelo(type='text' name='modelo') 
    br
    label(for='id') Latitud
    br
    input#lat(type='text' name='lat') 
    br
    label(for='id') Longitud
    br
    input#lng(type='text' name='lng') 
    br
    br
    input.btn(type='submit' value='OK')

