extends ../layout
block content 
 a(href='/bicicletas') Volver 
 h1 Actualizando Bicicleta
   form(action=`/bicicletas/${bici.id}/update` method='post')
    label(for='id') ID
    br
    input#id(type='text' name='id' value=bici.id) 
    br
    label(for='color') Color
    br
    input#color(type='text' name='color' value=bici.color) 
    br
    label(for='modelo') Modelo
    br
    input#modelo(type='text' name='modelo' value=bici.modelo) 
    br
    label(for='id') Latitud
    br
    input#lat(type='text' name='lat' value=bici.ubicacion) 
    br
    label(for='id') Longitud
    br
    input#lng(type='text' name='lng' value=bici.ubicacion) 
    br
    br
    input.btn(type='submit' value='OK')

